<section class="register-section">
  <div class="container register-container">
    <div class="register-section-container">
      <div class="register-section-container-header">
        <img src="/images/dream-house.png" class="register-section-container-header-dream-house-logo-img" />
        <svg class="register-section-container-header-atb-icon">
          <use href="/icons/icons.svg#atb-logo"></use>
        </svg>
      </div>
      <div class="register-section-content-wrap">
        <div class="register-section-container-form-wrap">
          <p class="register-section-container-form-title">Реєстрація коду</p>
          <form class="register-section-container-form js-register-section-container-form">
            <div class="register-section-container-form-content">
              <div class="register-section-container-form-input-container">
                <div class="register-section-container-form-input-wrap">
                  <label class="register-section-container-form-input-title">Ім'я</label>
                  <input type="text" class="register-section-container-form-input" placeholder=" " name="name" />
                </div>
                <div class="register-section-container-form-input-wrap">
                  <label class="register-section-container-form-input-title">Номер телефону</label>
                  <input type="tel" class="register-section-container-form-input js-register-section-container-form-input" placeholder=" " name="phone" />
                </div>
                <div class="register-section-container-form-input-wrap">
                  <label class="register-section-container-form-input-title">Код</label>
                  <input type="text" class="register-section-container-form-input" placeholder=" " name="code" />
                  <div class="help-block">Помилка</div>
                </div>
              </div>
              <div class="register-section-container-form-submit-btn-wrap">
                <button type="submit" class="register-section-container-form-submit-btn js-register-section-container-form-submit-btn" disabled>
                  <span class="register-section-container-form-submit-btn-title">Зареєструвати</span>
                </button>
                <img src="/images/submit-btn-rays.png" class="register-section-container-form-submit-btn-bg-img" />
                <img src="/icons/left-star.svg" class="register-section-container-form-submit-btn-icon register-section-container-form-submit-btn-left-icon" />
                <img src="/icons/right-star.svg" class="register-section-container-form-submit-btn-icon register-section-container-form-submit-btn-right-star-icon" />
                <img src="/icons/top-star.svg" class="register-section-container-form-submit-btn-icon register-section-container-form-submit-btn-top-star-icon" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
