<section class="register-section">
  <div class="container register-container">
    <div class="register-section-container success-submit">
      <div class="register-section-container-header">
        <img src="/images/dream-house.png" class="register-section-container-header-dream-house-logo-img" />
        <svg class="register-section-container-header-atb-icon">
          <use href="/icons/icons.svg#atb-logo"></use>
        </svg>
      </div>
      <div class="register-section-content-wrap">
        <div class="register-section-container-form-wrap">
          <p class="register-section-container-form-title">Реєстрація коду</p>
          <form class="register-section-container-form">
            <div class="register-section-container-form-input-container">
              <label class="register-section-container-form-input-wrap">
                <input type="text" class="register-section-container-form-input" placeholder=" " name="name" />
                <span class="register-section-container-form-input-title-wrap"><span class="register-section-container-form-input-title">Ім'я</span></span>
              </label>
              <label class="register-section-container-form-input-wrap">
                <input type="tel" class="register-section-container-form-input" placeholder=" " name="phone" />
                <span class="register-section-container-form-input-title-wrap"><span class="register-section-container-form-input-title">Номер телефону</span></span>
              </label>
              <label class="register-section-container-form-input-wrap invalid success">
                <input type="text" class="register-section-container-form-input" placeholder=" " name="code" />
                <span class="register-section-container-form-input-title-wrap"><span class="register-section-container-form-input-title">Код</span></span>
                <svg class="register-section-container-form-input-success-icon">
                  <use href="/icons/icons.svg#check"></use>
                </svg>
                <span class="register-section-container-form-input-error">Помилка</span>
              </label>
            </div>
            <div class="register-section-container-form-submit-btn-wrap">
              <button type="submit" class="register-section-container-form-submit-btn" disabled>
                <span class="register-section-container-form-submit-btn-title">Зареєструвати</span>
              </button>
              <img src="/images/submit-btn-rays.png" class="register-section-container-form-submit-btn-bg-img" />
              <img src="/icons/left-star.svg" class="register-section-container-form-submit-btn-icon register-section-container-form-submit-btn-left-icon" />
              <img src="/icons/right-star.svg" class="register-section-container-form-submit-btn-icon register-section-container-form-submit-btn-right-star-icon" />
              <img src="/icons/top-star.svg" class="register-section-container-form-submit-btn-icon register-section-container-form-submit-btn-top-star-icon" />
            </div>
          </form>
        </div>
      </div>
      <div class="register-section-success-submit-msg">
        <div class="register-section-success-submit-msg-text-wrap">
          <p class="register-section-success-submit-msg-title">Дякуємо!</p>
          <p class="register-section-success-submit-msg-text">Ваш код успішно зареєстровано</p>
          <img src="/images/success-submit-msg-rays.png" class="register-section-success-submit-msg-bg-img" />
          <img src="/icons/left-star.svg" class="register-section-success-submit-msg-icon register-section-success-submit-msg-left-star-icon" />
          <img src="/icons/right-star.svg" class="register-section-success-submit-msg-icon register-section-success-submit-msg-right-star-icon" />
          <img src="/icons/top-star.svg" class="register-section-success-submit-msg-icon register-section-success-submit-msg-top-star-icon" />
        </div>
      </div>
    </div>
  </div>
</section>
