.register-section {
  display: flex;
  min-height: 100vh;
  background-color: #592f9e;
  padding-top: 16px;
  padding-bottom: 16px;
}

.register-section-container {
  position: relative;
  height: 100%;
  border-radius: 30px;
  background-color: #9689e8;
  padding: 130px 20px 24px;
  overflow: hidden;
}

.register-section-content-wrap {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 48px;
  min-height: 100%;
  transition: opacity var(--transition-duration-and-func);
}

.register-section-container-header {
  position: absolute;
  z-index: 100;
  top: 12px;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 12px - 12px);
  transform: translateX(-50%);
}

.register-section-container-header-dream-house-logo-img {
  width: 99px;
  height: 70px;
}

.register-section-container-header-atb-icon {
  width: 86px;
  height: 52px;
}

.register-section-container-form-wrap {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.register-section-container-form-title {
  color: var(--white-color);
  font-family: Nunito;
  font-size: 20px;
  font-weight: 900;
  line-height: 1.1;
  text-align: center;
}

.register-section-container-form {
  flex-grow: 1;
  display: flex;
}

.register-section-container-form-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 155px;
}

.register-section-container-form-input-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-group {
  position: relative;
}

.control-label {
  position: absolute;
  top: 50%;
  left: 12px;
  display: block;
  padding-left: 4px;
  padding-right: 4px;
  background-color: #9689e8;
  color: var(--white-color);
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  transform: translateY(-50%);
  pointer-events: none;
  transition: font-size var(--transition-duration-and-func), top var(--transition-duration-and-func);
}

.register-section-container-form-input {
  width: 100%;
  height: 56px;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: transparent;
  outline: none;
  color: var(--white-color);
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.form-group:has(.register-section-container-form-input:is(:focus, :not(:placeholder-shown))) > .control-label {
  top: 0%;
}

.form-group:has(.register-section-container-form-input:is(:focus, :not(:placeholder-shown))) > .control-label {
  font-size: 12px;
}

.help-block {
  position: absolute;
  bottom: -4px;
  left: 0;
  color: #c12f1c;
  font-family: Mulish;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0;
  transform: translateY(100%);
}

.form-group.has-error .help-block {
  opacity: 1;
}

.form-group.has-error .register-section-container-form-input {
  border-color: rgba(193, 47, 28, 0.6);
}

.form-group.success .register-section-container-form-input {
  padding-right: 36px;
}

.register-section-container-form-submit-btn-wrap {
  position: relative;
}

.register-section-container-form-submit-btn {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 56px;
  border: none;
  border-radius: 28px;
  padding: 0;
  background-color: #f9b345;
  transition: background-color var(--transition-duration-and-func), color var(--transition-duration-and-func);
}

.register-section-container-form-submit-btn:disabled {
  background-color: #776bc5;
}

.register-section-container-form-submit-btn-title {
  color: var(--white-color);
  font-family: Nunito;
  font-size: 16px;
  font-weight: 900;
  line-height: 1.1;
}

.register-section-container-form-submit-btn:disabled .register-section-container-form-submit-btn-title {
  color: #9689e8;
}

.register-section-container-form-submit-btn-bg-img {
  position: absolute;
  top: -175px;
  left: -73px;
  display: block;
  width: 468px;
  max-width: 468px;
  height: 370px;
  pointer-events: none;
}

.register-section-container-form-submit-btn-icon {
  position: absolute;
  z-index: 1;
  display: block;
  pointer-events: none;
}

.register-section-container-form-submit-btn-top-star-icon {
  top: -121px;
  left: 159px;
  width: 19px;
  height: 19px;
}

.register-section-container-form-submit-btn-left-icon {
  top: -78px;
  left: 24px;
  width: 31px;
  height: 31px;
}

.register-section-container-form-submit-btn-right-star-icon {
  top: -71px;
  right: 0;
  width: 54px;
  height: 54px;
}
